%header.l-module
	.inner
		%a.contact{:href=>"https://twitter.com/pptapp_", :alt=>"App Store Link"}  Feedback
%main
	.container
		#logo
			%a.appicon{:href=>"/", :alt=>"People. Places. Things."}
				%img{:src=>"images/ppt-logo.svg", :alt=>"People. Places. Things."}
		%h1
			%a.title{:href=>"/", :alt=>"People. Places. Things."}
				%span.blue People.
				%span.yellow Places.
				%span.red Things.
				%span.sm.grey for iPhone
		%h3 Drop a video of the people, places and things you love for others to discover in your community.
		%p{:id => "result"}
		%form{:id => "myForm"}
			%input{:type => "text", :placeholder => "Email", :name => "email", :id => "email"}
			%br

			%input{:type => "text", :placeholder => "Your twitter name:", :name => "tname", :id => "tname"}
			%br

			%input{:type => "text", :placeholder => "Your twitter friend on PPT:", :name => "tfriend", :id => "tfriend"}
			%br

			%input{:type => "submit", :value => "Request Beta", :class => "button"}
		%h3 If the above checks out, we'll send you an invite.
		%h3 Toronto & iOS Only.

%footer
	%img{:src=>"images/ppt-logo.svg", :alt=>"People. Places. Things."}
	%br
	%a{:href=>"/terms", :alt=>"Terms &amp; Conditions"}  Terms &amp; Conditions
	| &copy; Copyright 2016


