%header.l-module
	.inner
		#logo
			%a.appicon{:href=>"/", :alt=>"People. Places. Things."}
				%img{:src=>"../images/app-icon@2x.png", :alt=>"People. Places. Things."}
		%a.title{:href=>"/", :alt=>"People. Places. Things."}
			%span.blue People.
			%span.yellow Places.
			%span.red Things.
			%span.sm.grey for iPhone

		%a.contact{:href=>"https://twitter.com/pptapp_", :alt=>"App Store Link"}  Feedback
%main
	.container
		%h2 End User License Agreement of Terms of Service 
		%h4 1. Background 
		%p 1.1. The app “People.Places.Things” or “PPT” (hereinafter referred to as the “Service”) is developed by PPT LABS INC., 2310 Maynard St, Halifax, Nova Scotia, Canada and all rights to the Service belong to PPT LABS INC. These terms regulate your use of the Service.
		%h4 2. About the terms of use 
		%p 2.1.By accepting the terms of use you agree that all issues regarding the use of the Service is governed by these terms of use.
		%p 2.2.PPT LABS INC. is entitled to update and change the terms of use at any time. If any changes are made to the terms of use you will be asked to accept the new terms of use in order to continue to use the Service, and the new terms of use will only be valid for activities which take place after you have accepted the new terms of use. Any older versions of the terms of use can be found here:
		%a{:href=>"/terms", :alt=>"Terms &amp; Conditions"}www.pptapp.io/terms
		%p 2.3.These terms of use are effective as of the 26th of July 2016.
		%h4 3. Liability 
		%p 3.1.PPT LABS INC. cannot be held liable for your use of the Service and excludes any liability which may arise as a result of such use. You are responsible for complying with all relevant laws when uploading content to the Service.
		%p 3.2.PPT LABS INC. does not guarantee that the Service is error-free or protected against hacking or virus attacks and excludes any liability in this regard. The Service may be unavailable on some occasions due to e.g. updates of the Service. PPT LABS INC. encourages you to take a back-up copy (screen recordings or screenshots) of all data which you upload to the Service and PPT LABS INC. is not responsible for any loss of data in the Service.
		%p 3.3. As a user of the Service you are solely responsible for your conduct and any data, text, usernames, profile-information, audio, sounds, musical works and other content that you post, submit, upload or display on or via the Service.
		%p 3.4.PPT LABS INC. has no influence on the information which the users share on the Service and excludes any liability for the content of this information.
		%p 3.5.As a user of the Service you agree that PPT LABS INC. cannot be held responsible for the content posted on the Service and that you use the Service at your own risk.
		%p 3.6.You accept that PPT LABS INC. is not liable to you for any damages or loss directly or indirectly related to the use of the Service. Likewise, PPT LABS INC. is not liable for any damages or loss related to your inability to use the Service. 3.7. If you violate the terms of use, PPT LABS INC. can stop providing all or part of the Service to you and is entitled to terminate your  “People.Places.Things” or “PPT” account.
		%p 3.8. PPT LABS INC. has the right, at any time, to remove or delete any content on the Service, without liability. This includes content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive.
		%p 3.9. PPT LABS INC. cannot be held responsible for any dispute between the users.
		%p 3.10. If PPT LABS INC., despite the disclaimers in paragraph 3.1 – 3.9, should be ordered to pay damages to you, such damages can in total not exceed the amount of the total payment which you have paid to PPT LABS INC. for the use of the Service. If you have not made any payments to PPT LABS INC., paragraph 3.10 does not apply to you.
		%h4 4. Rights 
		%p 4.1. PPT LABS INC. have all rights, including but not limited to intellectual property rights, to the Service. No rights to the Service is transferred to you as a result of your use of the Service.
		%p 4.2. You warrant that you have all rights, including but not limited to intellectual property rights, to the content that you upload to the Service and that such content does not infringe any third parties. PPT LABS INC. is granted a worldwide royalty-free license (not limited in time) to use all the content that you have uploaded to the Service. Consequently, PPT LABS INC. is granted a license to use the content on all digital and physical platforms (including platforms that may be developed in the future) where the Service may be used now or in the future.
		%p 4.3. The Service may to some extent be supported by advertisements. You accept that your content may be used in connection with such advertisements. Also, PPT LABS INC. is entitled to use your content as promotion and marketing of the Service itself.
		%p 4.4. If your “People.Places.Things” or “PPT” account is terminated, cf. paragraph 3.7, or you deactivate your account, you accept that content that you previously have posted on the Service may still appear within the Service as a result of the license granted to PPT LABS INC.
		%h4 5. Personal data 
		%p 5.1. You accept that PPT LABS INC. may collect information regarding your use of the Service. This includes your username, password, e-mail address and other information you provide to your user profile, online beta registration or online invitation submission. PPT LABS INC. will also store the content you as a user provide to the Service and communications between you and The Service. PPT LABS INC. also collects information regarding your location when you use the Service and when you upload content to the Service.
		%p 5.2. The data is collected in order to allow you to access your own profile and locate your content and other users’ content shared in the “People Places Things” or “PPT” universe.  5.3.You accept that the Service may send you push-messages regarding new relevant activities in the Service.
		%h4 6. Assignment 
		%p 6.1. PPT LABS INC. is entitled to assign any and all rights or obligations under this agreement to a third party without your consent.
		%h4 7. Disputes 
		%p 7.1. Disputes which may arise between the parties under this agreement shall be governed by and construed in accordance with the laws of Nova Scotia, Canada without giving effect to any choice of law or conflict of law provisions.
		%p 7.2. Should a dispute arise between the parties under this agreement the parties shall initiate negotiations in order to solve the dispute amicably.
		%p 7.3. In the event that an amicable solution cannot be reached each party is entitled to bring the dispute for the exclusive jurisdiction and venue of the City Court of Halifax, Nova Scotia, Canada.
		%p PPT LABS INC <br>PPT<br> pptapp.io
%footer
	%img{:src=>"../images/logo@2x.png", :alt=>"People. Places. Things."}
	%br
	%a{:href=>"/terms", :alt=>"Terms &amp; Conditions"}  Terms &amp; Conditions
	| &copy; Copyright 2016


